.dayContainer {
    border: 2px solid white;
    border-radius: 20px;
    padding: 2vh 1.5vw;
    color: white;
}


.dateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vh;
    margin-bottom: 8vh;
}

.dateName {
    font-size: 32px;
    text-decoration: underline;
}
.dateTimestamp {
    font-size: 20px;
}

.mealsContainer {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.mealContainer {
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.mealTimeContainer {
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

.mealContentContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 15px;
    padding: 1vh 1vw;
}
.mealContentContainer:hover {
    border: 1px solid var(--COLOR_ACCENT);
    color: var(--COLOR_ACCENT);

}
.mealName {
    font-size: 22px;
    margin-bottom: 1vh;
}
.mealStatsContainer {
    display: flex;
    font-size: 11px;
    gap: 0.5vw;
}

.mealDishesPanel {
    display: flex;
    gap: 0.5vw;
    font-size: 11px;
    margin-bottom: 1.5vh;

}
.mealDishContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.mealDishName {

}
.mealDishWeight {

}
.mealDishImage {
    background: white;
    border-radius: 10px;
    width: 32px;
    height: 32px;

}
