.container {
    display: flex;
    flex-direction: column;
    gap: 12vh;
    margin: 2vh 5vw;
}

.upperControlContainer {
    display: flex;
    height: 5vh;
    gap: 0.5vw;
    align-items: center;
}