.container {
    display: flex;
    align-items: center;
    color: white;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-image: linear-gradient(to right, rgb(179, 39, 121), rgb(45, 47, 167)) 1;
    gap: 1vw;
    padding: 1vh 3vw;
}

.logo {
    flex: 2;
    font-size: 44px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
.logo:hover {
    color: var(--COLOR_ACCENT);
}

.linkButton {
    flex: 1;
    text-decoration: none;
    background: none;
    border: none;
    color: white;
    font-size: 26px;
    cursor: pointer;
}
.linkButton:hover {
    color: var(--COLOR_ACCENT);
}
