.container {
    display: flex;
    margin: 8vh 5vw;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 1vw;
    row-gap: 10vh;
    padding: 4vh 10vw;
}

.dayLink {
    text-decoration: none;
}

.dayContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    height: 15vh;
    aspect-ratio: 1/1.15;
}

.dayNameAndDateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0 ;
    border: 1px solid white;

}
.dayNameAndDateContainer:hover {
    background: var(--COLOR_ACCENT);
    border: 1px solid var(--COLOR_ACCENT);
    cursor: pointer;
}

.dayName {
    font-size: 24px;
}

.dayDate {
    font-size: 14px;
}